.game-screen {
    height: 100vh;
}

.sidebar {
    height: 100vh;
    min-height: 100%;
}

.card-game {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.id-room {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    
}