.card-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 7px;
}

.card-svg {
  position: absolute;
  }

.village {
  background-color: rgb(29, 68, 33);
  box-shadow: rgb(32, 79, 36) 0px 0px 12px;
  border-radius: 8px;
}

.méchant {
  background-color: rgb(107, 1, 1);
  box-shadow: rgba(70, 4, 4, 1) 0px 0px 12px;
  border-radius: 8px;
}

.seul {
  background-color: #453164;
  box-shadow: #453164 0px 0px 12px;
  border-radius: 8px;
}

.div-btn {
  z-index: 1;
  position: absolute;
  margin-left: 90px;
}

.div-btn-role {
  z-index: 1;
  position: absolute;
  margin-left: 80px;
}

.btn-add {
  background: #117146;
  border-radius: 100px;
  border: none;
}

.btn-delete {
  background: #580d0d;
  border-radius: 100px;
  border: none;
}

.btn-role-0 {
  background: #117146;
  border-radius: 100px;
  border: none;
  transition: all 0.1s ease-out;
}

.btn-role-1 {
  background: #580d0d;
  border-radius: 100px;
  border: none;
  transform: rotate(60deg);
  transition: all 0.1s ease-out;
}

.btn-role:hover {
  background: #117146;
  border-radius: 100px;
  border: none;
  box-shadow: #117146 0px 0px 12px;
}

.btn-role:active {
  background: #711111;
  border-radius: 100px;
  border: none;
}

/* .btn-delete {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.4em ;
    color: white;
    background: #610c19;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-delete:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #a7141498;
  }
  
.btn-delete:active {
box-shadow: 0 0.5em 1.5em -0.5em #a7141498;
}

.btn-add {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.4em ;
  color: white;
  background: #117146;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;
}

.btn-add:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.btn-add:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
} */