.gameScreen {
    height: 100vh;
}

.home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@keyframes falling {
    0% {
        opacity: 0;
        top: -20%;
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(45deg);
        opacity: 1;
    }

    40% {
        transform: rotate(60deg);
    }

    60% {
        transform: rotate(90deg);
    }

    80% {
        transform: rotate(120deg);
    }

    100% {
        top: 110%;
        transform: rotate(180deg);
    }
}

.card-game1 {
    position: fixed;
    animation: falling 6s linear infinite;
}

.card-game2 {
    position: fixed;
    left: 3%;
    animation: falling 6s linear infinite;
    animation-delay: 1s;
}

.card-game3 {
    position: fixed;
    left: 10%;
    animation: falling 6s linear infinite;
    animation-delay: 2s;
}

.card-game4 {
    position: fixed;
    left: 30%;
    animation: falling 6s linear infinite;
    animation-delay: 3s;
}

.card-game5 {
    position: fixed;
    left: 40%;
    animation: falling 6s linear infinite;
    animation-delay: 2s;
}

.card-game6 {
    position: fixed;
    left: 60%;
    animation: falling 6s linear infinite;
    animation-delay: 4s;
}

.card-game7 {
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
    position: fixed;
    left: 13%;
    animation: falling 6s linear infinite;
    animation-delay: 2.5s;
}

.card-game8 {
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
    position: fixed;
    left: 5%;
    animation: falling 6s linear infinite;
    animation-delay: 4s;
}

/* CSS */
.btn-home {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn-home:hover,
.btn-home:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.btn-home:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.btn-home:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
