.gameScreen {
    height: 100vh;
}

.home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@keyframes falling {
    0% {
        opacity: 0;
        top: -20%;
        transform: translateX(20px) rotate(0deg);
    }

    10% {
        
    }

    20% {
        transform: translateX(-20px) rotate(45deg);
        opacity: 1;
    }

    40% {
        transform: translateX(20px) rotate(60deg);
    }

    60% {
        transform: translateX(20px) rotate(90deg);
    }

    80% {
        transform: translateX(-20px) rotate(180deg);
    }

    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.card-game1 {
    position: fixed;
    animation: falling 6s linear infinite;
}

.card-game2 {
    position: fixed;
    left: 3%;
    animation: falling 6s linear infinite;
    animation-delay: 1s;
}

.card-game3 {
    position: fixed;
    left: 10%;
    animation: falling 6s linear infinite;
    animation-delay: 2s;
}

.card-game4 {
    position: fixed;
    left: 30%;
    animation: falling 6s linear infinite;
    animation-delay: 3s;
}

.card-game5 {
    position: fixed;
    left: 40%;
    animation: falling 6s linear infinite;
    animation-delay: 2s;
}

.card-game6 {
    position: fixed;
    left: 60%;
    animation: falling 6s linear infinite;
    animation-delay: 4s;
}

.card-game7 {
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
    position: fixed;
    left: 13%;
    animation: falling 6s linear infinite;
    animation-delay: 2.5s;
}

.card-game8 {
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
    position: fixed;
    left: 5%;
    animation: falling 6s linear infinite;
    animation-delay: 4s;
}

.btn-home {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.btn-home:hover {
    background: #dedef3;
    color: #5E5DF0;
}

.btn-home-active {
    background: #dedef3;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #5E5DF0;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
