
.message-container {
    border-radius: 100px;
}

.message-container:hover {
    background-color: rgb(71, 71, 71, 0.3);
    transition: 0.2s all;
}

.author {
    font-size: 15px;
}

.server {
    color: rgb(226, 194, 147);
}

.role {
    color: rgb(148, 50, 222);
}


