.messageRole {
    background-color: rgba(63, 35, 69, 0.3);
    border-radius: 100px;
}

.messageUser {
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 100px;
}

.messageServer {
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 100px;
}
