
.message-container {
    border-radius: 100px;
    margin: 10px;
}

.message-container:hover {
    background-color: rgb(71, 71, 71, 0.3);
    transition: 0.2s all;
}

.author {
    font-size: 15px;
}

.server {
    color: rgb(236, 233, 226);
    font-size: 15px;
}

.role {
    color: rgb(238, 243, 185);
}

.author-dead {
    font-size: 15px;
    color: rgb(89, 89, 89);
}

.dead {
    color: rgb(89, 89, 89);
}


